body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbar{
  min-height: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background: #aaaaaa;
  color: #ffff;
}

.range-input{
  accent-color: #3a4664;
}
.undo-btn{
  position: fixed;
  top: 20px;
  left: 20px;
}
.clear-all-btn{
  position: fixed;
  top: 20px;
  left: 90px;
}

.btn{
  color: #3a4664;
  cursor: pointer;
  border-radius: 7px;
  padding: 6px;
  border: 2px solid #3a4664;
}

